/**
 * Linkable headings
 */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a {
  text-decoration: none;
  cursor: none;
  color: var(--sl-color-text);

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--sl-color-text);
  }
}

