/**
 * Segments
 */
.sl-markdown-content > .tsdoc div.segment:not(:last-child):after {
  content: '';
  display: block;
  height: 1px;
  background: var(--sl-color-hairline);
  margin-top: 1rem;
}

/**
 * Headings
 */
.sl-markdown-content > .tsdoc section h4:not(:where(.not-content *)) {
  font-size: var(--sl-text-h5); 
}
.sl-markdown-content > .tsdoc section.inline p:first-child strong:not(:where(.not-content *)) {
  margin-right: var(--tsdoc-key-margin-right);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--sl-color-white);
}

/**
 * Nested Title
 */
.sl-markdown-content > .tsdoc :is(h4, h5).nested a {
  text-decoration: none;
}
.sl-markdown-content > .tsdoc :is(h4, h5).nested span.parent {
  font-weight: 400;
  color: var(--sl-color-text-secondary);
}
.sl-markdown-content > .tsdoc h4.nested span.parent {
  font-size: calc(var(--sl-text-h4) - 0.0625rem);
}

/**
 * Keys & Values
 */
.sl-markdown-content > .tsdoc section code.key:before,
.sl-markdown-content > .tsdoc section code.type:before,
.sl-markdown-content > .tsdoc section code.method:before,
.sl-markdown-content > .tsdoc section code.symbol:before,
.sl-markdown-content > .tsdoc section code.primitive:before,
.sl-markdown-content > .tsdoc section code.key:after,
.sl-markdown-content > .tsdoc section code.type:after,
.sl-markdown-content > .tsdoc section code.method:after,
.sl-markdown-content > .tsdoc section code.symbol:after,
.sl-markdown-content > .tsdoc section code.primitive:after {
  content: '';
}
.sl-markdown-content > .tsdoc section code.key {
  margin-right: var(--tsdoc-key-margin-right);
}
.sl-markdown-content > .tsdoc section code.key,
.sl-markdown-content > .tsdoc section code.primitive {
  color: var(--sl-color-text);
}
.sl-markdown-content > .tsdoc section code.symbol {
  color: var(--sl-color-text-secondary);
}
.sl-markdown-content > .tsdoc section code.type,
.sl-markdown-content > .tsdoc section code.symbol,
.sl-markdown-content > .tsdoc section code.primitive {
  font-weight: 400;
}
.sl-markdown-content > .tsdoc section code.primitive {
  font-style: italic;
}

.sl-markdown-content > .tsdoc section span.dimmed {
  color: var(--sl-color-text-secondary);
}
