---
import type { Props } from '@astrojs/starlight/props'
import Default from '@astrojs/starlight/components/Head.astro'

const { title } = Astro.props.entry.data;
const slug = Astro.props.entry.slug;

const ogImageUrl = `${Astro.site.href}social-share.png`;
---

{ slug === "" && (
  <title>{title}</title>
)}

<Default {...Astro.props}><slot /></Default>

<meta property="og:image" content={ogImageUrl} />
<meta name="twitter:image" content={ogImageUrl} />
